@charset "utf-8";
/*google fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
body, html, *{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.wrapper{
	width: 100%;
	height: auto;
}
.header, .main, .footer{
	width: 100%;
	height: auto;
}
body .bdrs0{
	border-radius: 0;
}
body .mrg0{
	margin: 0;
}
.call-menu {
    position: relative;
    left: -16px;
    background: #fff;
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 21px;
    bottom: -1px;
    top: 0;
    color: #000;
    display: table;
	float: left;
}
.brand {
    display: table;
    padding-left: 30px;
}
.brand-logo {
    padding-top: 0;
	padding-bottom: 0;
}
.brand-logo img {
    height: auto;
    width: 50px;
    margin: 0;
    padding: 0;
}
body .header .navbar{
	background:#343e48;
	border:none;
}
body .brand * {
    color: #fff!important;
}

.t-contact {
    color: #fff;
    display: inline-block;
    float: right;
    margin: 15px 15px 0 0;
}
.enquiry {
    display: table;
    float: right;
    margin: 8px 15px 0 15px;
}
.enquiry *{
    background: #00b4e4;
    color: #fff;
}
.enquiry *:hover, .enquiry *:active, .enquiry *:focus, .enquiry *.active{
	outline: none;
	 color: #fff;
}
.navbar-header{
	position: relative;
}
.slider{
	width: 100%;
	height:auto;
	display: table;
}
.slider img{
	width:100%;
	height:auto;
}
.offer {
    display: table;
    width: 100%;
    margin: 15px 0;
}
ul.offer-inner {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.o-img-wrapper {
    display: block;
    width: 60px;
    height: 60px;
    background: white;
    text-align: center;
    line-height: 58px;
    border-radius: 50%;
    margin: 10px 15px 0 0;
    border: solid 1px #000;
}
.o-img-wrapper img {
    width: 40px;
    display: inline-block;
    margin: 0 auto;
}
.signup{
	width: 100%;
	height:auto;
	display:table;
	background:url(../images/s2.jpg) left top no-repeat;
	background-attachment:fixed;
}
.s-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.s-list > li{
	display: inline-block;
	vertical-align: middle;
}
.s-icon {
    display: block;
    background: rgba(255,255,255,0.9);
    padding: 5px;
}
.s-text {
    color: #fff;
    padding: 0 25px;
}
.s-btn {
    background: #00b4e4;
    color: #fff;
    border-color: #00b4e4;
}
.s-btn:hover, .s-btn:active, .s-btn:focus{
	color: #fff;
	background: #00b4e4;
	
}
.university{
	width:100%;
	height:auto;
	display: table;
}
.u-example {
    display: block;
    width: 100%;
    overflow-x: hidden;
}
.container-full{
	display: block;
}
.u-block {
    display: flex;
    flex-direction: row;
}
.u-block-img {
    overflow: hidden;
    width: 50%;
    display: block;
    flex: 1;
    min-height: 200px;
    max-height: 228px;
	position:relative;
}
.u-block-text {
    flex: 1;
    position: relative;
    padding: 10px 30px;
    background: #00b4e5;
    min-height: 200px;
    max-height: 228px;
}
.u-link {
    position: absolute;
    top: 50%;
    background: #343e48;
    color: #fff;
    padding: 5px;
    left: -20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 32px;
    transform: translate(0, -50%);
	transition: all 0.3s ease;
}
.u-link:hover, .u-link:active, .u-link:focus{
	background:#fff;
}
.block-text > *{
	color:#fff;
}
.u-block-img:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    background: url(../images/sh1.png) left bottom;
    width: 800px;
    height: 100px;
	transition:all 0.3s ease;
	opacity:0;
}
.u-block-img:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: url(../images/sh2.png) left top;
    width: 800px;
    height: 100px;
	transition:all 0.3s ease;
	opacity:0;
}
.u-block-img:hover + .u-block-img:before, .u-block-img:hover + .u-block-img:after{
	opacity:1;
}
.container-full > .row > div[class*="col-md"]{
	padding:0;
	margin:0;
}